# node_modules-strapi.tar.gz split menjadi .partaa/.partab/.partac (maks 45MB per file)
# agar tidak perlu git-lfs di cPanel
node_modules-strapi.partaa -text
node_modules-strapi.partab -text
node_modules-strapi.partac -text
